/* style customize */


.back-img {
    background-image: url(/images/homebg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.help-us-img {
    background-image: url(/images/homeimg.jpg);
    background-size: cover;
    background-position: center;
}

.our-team {
    background-color: #f6faff;
}

.bright-future-bg-img {
    background-image: url(/images/donate.jpg);
    background-size: cover;
    background-position: center;
}

.img-size {
    width: 390px;
}

.img-width {
    width: 820px;
    object-fit: fill;
}

.svg-width {
    margin-top: 9px;
    width: 45px;
}